In [ ]:
#1 For the following code, which of the following statements will not return True?
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [ ]:
obj3['California']

True

In [ ]:
import math
math.isnan(obj2['California'])

True

In [ ]:
obj2['California']==None

False

In [ ]:
x=obj2['California']
obj2['California']!=x

True

In [ ]:
#2 In the above python code, the keys of the dictionary d represent student ranks and the value for each key is a student name. 
#Which of the following can be used to extract rows with student ranks that are lower than or equal to 3?
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [ ]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [ ]:
#3 Suppose we have a DataFrame named df. We want to change the original
#DataFrame df in a way that all the column names are cast to upper case. 
#Which of the following expressions is incorrect to perform the same?

url='https://drive.google.com/uc?export=download&id=153aMLlWJ6c_eb_nEXetlL_Yl4oog08Mj'
df=pd.read_csv(url)
df.head()

   age          workclass  fnlwgt  ... hours-per-week         country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df.rename(mapper = lambda x: x.upper(), axis = 1, inplace = True)
df.head()

   AGE          WORKCLASS  FNLWGT  ... HOURS-PER-WEEK         COUNTRY  SALARY
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df=df.rename(mapper=lambda x: x.upper(), axis=1)
df.head()

   AGE          WORKCLASS  FNLWGT  ... HOURS-PER-WEEK         COUNTRY  SALARY
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df.rename(mapper = lambda x: x.upper(), axis = 1)
df.head()

   age          workclass  fnlwgt  ... hours-per-week         country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df = df.rename(mapper = lambda x: x.upper(), axis = 'columns')
df.head()

   AGE          WORKCLASS  FNLWGT  ... HOURS-PER-WEEK         COUNTRY  SALARY
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [2]:
#Q2
import pandas as pd

df=pd.read_csv("/content/Book1.csv")
df

   Serial No.  gre score  toefl score
0           1        337          118
1           2        324          107
2           3        316          104
3           4        322          110
4           5        314          103

In [ ]:
(df['toefl score'] > 105) & (df['toefl score'] < 115)

0    False
1     True
2    False
3     True
4    False
Name: toefl score, dtype: bool

In [ ]:
df[df['toefl score'].gt(105) & df['toefl score'].lt(115)]

   Serial No.  gre score  toefl score
1           2        324          107
3           4        322          110

In [ ]:
df[(df['toefl score'].isin(range(106, 115)))]

   Serial No.  gre score  toefl score
1           2        324          107
3           4        322          110

In [ ]:
df[(df['toefl score'] > 105) & (df['toefl score'] < 115)]

   Serial No.  gre score  toefl score
1           2        324          107
3           4        322          110

In [3]:
#Q7 Q4 retake
#For the given DataFrame df we want to keep only the records with a toefl score greater than 105. 
#Which of the following will not work?
df.where(df['toefl score'] > 105).dropna()

   Serial No.  gre score  toefl score
0         1.0      337.0        118.0
1         2.0      324.0        107.0
3         4.0      322.0        110.0

In [4]:
df.where(df['toefl score'] > 105)

   Serial No.  gre score  toefl score
0         1.0      337.0        118.0
1         2.0      324.0        107.0
2         NaN        NaN          NaN
3         4.0      322.0        110.0
4         NaN        NaN          NaN

In [5]:
df[df['toefl score'] > 105]

   Serial No.  gre score  toefl score
0           1        337          118
1           2        324          107
3           4        322          110

In [ ]:
#Q4
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [ ]:
s1.loc[1]

'Alice'

In [ ]:
#Error
#s2.loc[1]

In [ ]:
s2[1]

2

In [ ]:
s2.iloc[1]

2

In [ ]:
#Q1
df=pd.read_csv("/content/Book2.csv",index_col=['(Major)'])
df

              Name  Age Gender
(Major)
Mathematics  Alice   20      F
Sociology     Jack   22      M

In [ ]:
df.T['Mathematics']

Name      Alice
Age          20
Gender        F
Name: Mathematics, dtype: object

In [ ]:
df['Alice']

In [ ]:
df.iloc['Mathematics']

In [ ]:
df['Mathematics']

#### **RETAKE**

In [ ]:
#Q1
#For the following code, which of the following statements will not return True?

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [ ]:
obj3['California']

True

In [ ]:
import math
math.isnan(obj2['California'])

True

In [ ]:
x=obj2['California']
obj2['California']!=x

True

In [ ]:
obj2['California']==None

False

In [ ]:
#Q2
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

In [ ]:
#In the above python code, the keys of the dictionary d represent student ranks and the value for each key is a student name. 
#Which of the following can be used to extract rows with student ranks that are lower than or equal to 3?

S.iloc[0:2]

1    Alice
2      Bob
dtype: object

In [ ]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [ ]:
#Q6
df=pd.read_csv("/content/Book3.csv",index_col='Unnamed: 0')
df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
df=df.drop('Ohio')
df

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15