## **Merging Data Frame**

In [83]:
import pandas as pd

#### **SET INDEX BY NAME**

In [84]:
#Staff DF
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course liasion'},
                       {'Name':'James','Role':'Grader'}])

#Student DF
student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                         {'Name':'Mike','School':'Law'},
                         {'Name':'Sally','School':'Engineering'}])

In [85]:
#Set index by column 'Name'
staff_df=staff_df.set_index('Name')
student_df=student_df.set_index('Name')

In [86]:
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [87]:
student_df

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [88]:
#Merging Outer
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [89]:
#Merging Inner
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [90]:
#Merging Left
pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [91]:
#Merging Right
pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

#### **SET INDEX AS NONE**

In [92]:
#Set index by column 'Name'
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()

In [93]:
staff_df

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader

In [94]:
student_df

    Name       School
0  James     Business
1   Mike          Law
2  Sally  Engineering

In [95]:
#Merging Using 'on' Parameter
pd.merge(staff_df,student_df,how='outer',on='Name')

    Name            Role       School
0  Kelly  Director of HR          NaN
1  Sally  Course liasion  Engineering
2  James          Grader     Business
3   Mike             NaN          Law

In [96]:
#Merging Inner
pd.merge(staff_df,student_df,how='inner',on='Name')

    Name            Role       School
0  Sally  Course liasion  Engineering
1  James          Grader     Business

In [97]:
#Merging Left
pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role       School
0  Kelly  Director of HR          NaN
1  Sally  Course liasion  Engineering
2  James          Grader     Business

In [98]:
#Merging Right
pd.merge(staff_df,student_df,how='right',on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

#### **CONFLICTS BETWEEN MERGED DATAFRAMES**

In [99]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR','Location':'State Street'},
                       {'Name':'Sally','Role':'Course liasion','Location':'Washington Avenue'},
                       {'Name':'James','Role':'Grader','Location':'Washington Avenue'}])
student_df=pd.DataFrame([{'Name':'James','School':'Business','Location':'1024 Billiard Avenue'},
                         {'Name':'Mike','School':'Law','Location':'Fraternity House #22'},
                         {'Name':'Sally','School':'Engineering','Location':'512 Wilson Crescent'}])

In [100]:
#Merging Using 'on' Parameter
pd.merge(staff_df,student_df,how='outer',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue
3   Mike             NaN                NaN          Law  Fraternity House #22

In [101]:
#Merging Inner
pd.merge(staff_df,student_df,how='inner',on='Name')

    Name            Role         Location_x       School            Location_y
0  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
1  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [102]:
#Merging Left
pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [103]:
#Merging Right
pd.merge(staff_df,student_df,how='right',on='Name')

    Name            Role         Location_x       School            Location_y
0  James          Grader  Washington Avenue     Business  1024 Billiard Avenue
1   Mike             NaN                NaN          Law  Fraternity House #22
2  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent

##### **With 2 Parameters**

In [104]:
staff_df=pd.DataFrame([{'First Name':'Kelly','Last Name':'Desjardins','Role':'Director of HR'},
                       {'First Name':'Sally','Last Name':'Brooks','Role':'Course liasion'},
                       {'First Name':'James','Last Name':'Wilde','Role':'Grader'}])
student_df=pd.DataFrame([{'First Name':'James','Last Name':'Hammond','School':'Business'},
                         {'First Name':'Mike','Last Name':'Smith','School':'Law'},
                         {'First Name':'Sally','Last Name':'Brooks','School':'Engineering'}])

In [105]:
#Merging Using 'on' Parameter
pd.merge(staff_df,student_df,how='outer',on=['First Name','Last Name'])

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion  Engineering
2      James       Wilde          Grader          NaN
3      James     Hammond             NaN     Business
4       Mike       Smith             NaN          Law

In [106]:
#Merging Inner
pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [107]:
#Merging Left
pd.merge(staff_df,student_df,how='left',on=['First Name','Last Name'])

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion  Engineering
2      James       Wilde          Grader          NaN

In [108]:
#Merging Right
pd.merge(staff_df,student_df,how='right',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      James   Hammond             NaN     Business
1       Mike     Smith             NaN          Law
2      Sally    Brooks  Course liasion  Engineering