**Applied Data Science with Python Specialization (Coursera)**
#### **Course 1: Introduction to Data Science in Python (C1)**

## **(Week 3) - (5) Pivot Table**

In [1]:
#Importing the Libraries
import pandas as pd
import numpy as np

In [2]:
#Importing the Dataset
df=pd.read_csv('/content/cwurData.csv')
df.sample(n=7)

      world_rank                            institution  ...  score  year
1691         492                  University of Hanover  ...  44.80  2015
454          255               Florida State University  ...  46.98  2014
833          634  Braunschweig University of Technology  ...  44.74  2014
854          655                   Hacettepe University  ...  44.71  2014
108            9                  University of Chicago  ...  79.16  2013
1345         146    University of Alabama at Birmingham  ...  48.79  2015
683          484                    Juntendo University  ...  45.18  2014

[7 rows x 14 columns]

In [4]:
#Create a Function for Creating the Category
def create_category(ranking):

  #Category 1: First Tier Top Unversity
  if (ranking >= 1) & (ranking<=100):
    return "First Tier Top Unversity"

  #Category 2: Second Tier Top Unversity
  elif (ranking >= 101) & (ranking<=200):
    return "Second Tier Top Unversity"
  
  #Category 3: Third Tier Top Unversity
  elif (ranking >= 201) & (ranking<=300):
    return "Third Tier Top Unversity"
  
  #The rest
  return "Other Top Unversity"

In [5]:
#Create a Column that Indicate the Category: "Rank Level"
df['Rank_Level']=df['world_rank'].apply(lambda x: create_category(x))

In [6]:
df.sample(n=10)

      world_rank  ...                 Rank_Level
1404         205  ...   Third Tier Top Unversity
942          743  ...        Other Top Unversity
1791         592  ...        Other Top Unversity
166           67  ...   First Tier Top Unversity
1773         574  ...        Other Top Unversity
1441         242  ...   Third Tier Top Unversity
1414         215  ...   Third Tier Top Unversity
1345         146  ...  Second Tier Top Unversity
263           64  ...   First Tier Top Unversity
1162         963  ...        Other Top Unversity

[10 rows x 15 columns]

In [8]:
#Pivoting the Table 
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean]).head(n=10)

                               mean  ...
Rank_Level First Tier Top Unversity  ... Third Tier Top Unversity
country                              ...
Argentina                       NaN  ...                      NaN
Australia                 47.942500  ...                47.285000
Austria                         NaN  ...                47.066667
Belgium                   51.875000  ...                46.746667
Brazil                          NaN  ...                      NaN
Bulgaria                        NaN  ...                      NaN
Canada                    53.633846  ...                46.826364
Chile                           NaN  ...                      NaN
China                     53.592500  ...                46.926250
Colombia                        NaN  ...                      NaN

[10 rows x 4 columns]

In [10]:
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean, np.max]).head(n=10)

                               mean  ...                     amax
Rank_Level First Tier Top Unversity  ... Third Tier Top Unversity
country                              ...
Argentina                       NaN  ...                      NaN
Australia                 47.942500  ...                    47.47
Austria                         NaN  ...                    47.78
Belgium                   51.875000  ...                    47.14
Brazil                          NaN  ...                      NaN
Bulgaria                        NaN  ...                      NaN
Canada                    53.633846  ...                    47.69
Chile                           NaN  ...                      NaN
China                     53.592500  ...                    47.76
Colombia                        NaN  ...                      NaN

[10 rows x 8 columns]

In [12]:
df.pivot_table(values='score',index='country',columns='Rank_Level',
               aggfunc=[np.mean, np.max],margins=True).head(10)

                               mean  ...   amax
Rank_Level First Tier Top Unversity  ...    All
country                              ...
Argentina                       NaN  ...  45.66
Australia                 47.942500  ...  51.61
Austria                         NaN  ...  47.78
Belgium                   51.875000  ...  52.03
Brazil                          NaN  ...  49.82
Bulgaria                        NaN  ...  44.48
Canada                    53.633846  ...  60.87
Chile                           NaN  ...  45.33
China                     53.592500  ...  55.30
Colombia                        NaN  ...  44.85

[10 rows x 10 columns]

In [13]:
new_df=df.pivot_table(values='score',index='country',columns='Rank_Level',
                      aggfunc=[np.mean, np.max],margins=True)

In [14]:
print(new_df.index)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')

In [15]:
print(new_df.columns)

MultiIndex([('mean',  'First Tier Top Unversity'),
            ('mean',       'Other Top Unversity'),
            ('mean', 'Second Tier Top Unversity'),
            ('mean',  'Third Tier Top Unversity'),
            ('mean',                       'All'),
            ('amax',  'First Tier Top Unversity'),
            ('amax',       'Other Top Unversity'),
            ('amax', 'Second Tier Top Unversity'),
            ('amax',  'Third Tier Top Unversity'),
            ('amax',                       'All')],
           names=[None, 'Rank_Level'])

In [16]:
new_df['mean']['First Tier Top Unversity'].head(10)

country
Argentina          NaN
Australia    47.942500
Austria            NaN
Belgium      51.875000
Brazil             NaN
Bulgaria           NaN
Canada       53.633846
Chile              NaN
China        53.592500
Colombia           NaN
Name: First Tier Top Unversity, dtype: float64

In [17]:
type(new_df['mean']['First Tier Top Unversity'])

pandas.core.series.Series

In [18]:
new_df['mean']['First Tier Top Unversity'].idxmax()

'United Kingdom'

In [19]:
new_df=new_df.stack()
new_df.head(10)

                                          mean   amax
country   Rank_Level
Argentina Other Top Unversity        44.672857  45.66
          All                        44.672857  45.66
Australia First Tier Top Unversity   47.942500  51.61
          Other Top Unversity        44.645750  45.97
          Second Tier Top Unversity  49.242500  50.40
          Third Tier Top Unversity   47.285000  47.47
          All                        45.825517  51.61
Austria   Other Top Unversity        44.864286  46.29
          Third Tier Top Unversity   47.066667  47.78
          All                        45.139583  47.78

In [20]:
new_df.unstack().head(10)

                               mean  ...    amax
Rank_Level First Tier Top Unversity  ...     All
country                              ...
All                       58.350675  ...  100.00
Argentina                       NaN  ...   45.66
Australia                 47.942500  ...   51.61
Austria                         NaN  ...   47.78
Belgium                   51.875000  ...   52.03
Brazil                          NaN  ...   49.82
Bulgaria                        NaN  ...   44.48
Canada                    53.633846  ...   60.87
Chile                           NaN  ...   45.33
China                     53.592500  ...   55.30

[10 rows x 10 columns]

In [23]:
new_df.unstack().unstack().head(15)

      Rank_Level                country
mean  First Tier Top Unversity  All               58.350675
                                Argentina               NaN
                                Australia         47.942500
                                Austria                 NaN
                                Belgium           51.875000
                                Brazil                  NaN
                                Bulgaria                NaN
                                Canada            53.633846
                                Chile                   NaN
                                China             53.592500
                                Colombia                NaN
                                Croatia                 NaN
                                Cyprus                  NaN
                                Czech Republic          NaN
                                Denmark           49.180000
dtype: float64